@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma//AxiformaThin.otf);
  font-weight: 100; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaLight.otf);
  font-weight: 300; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaRegular.otf);
  font-weight: 400; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaMedium.otf);
  font-weight: 500; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaSemiBold.otf);
  font-weight: 600; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaBold.otf);
  font-weight: 700; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaBook.otf);
  font-weight: 750; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaExtraBold.otf);
  font-weight: 800; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaHeavy.otf);
  font-weight: 850; }

@font-face {
  font-family: Axiforma;
  src: url(../fonts/axiforma/AxiformaBlack.otf);
  font-weight: 900; }
